{% extends 'selia_managers/create/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_filters %}

{% block toolbar-title %}
  {% trans 'Add collection to collection type' %}
{% endblock toolbar-title %}

{% block secondary-navbar %}
  {% include 'selia_managers/navbars/collection.html' %}
{% endblock secondary-navbar %}

{% block toolbar-steps %}
<li>
  <a href="{% url 'selia_managers:create_collection'%}?{{ request.GET | remove_fields:'user&role&collection_type'}}">
    {% trans 'Select collection type' %}
  </a>
</li>
<li class="is-active">{% trans 'Fill in details' %}</li>
{% endblock %}

{% block step-title %}
  {%trans 'Fill in details' %}
{% endblock step-title %}

{% block previously-selected %}
  {% trans 'Selected type collection' as label %}
  {% selected_item 'collection_type' collection_type label %}
{% endblock previously-selected %}

{% block form-content %}
  <input type="hidden" id="collection_type_field" name="collection_type" value="{{ collection_type.pk }}">


  <div class="row p-4">
    <h4 class="w-100 text-center">{% trans 'No additional information required' %}</h4>
  </div>

{% endblock %}
