{% extends 'selia_templates/base_with_toolbar.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'selia_managers/css/step-progress.css'%}">
{% endblock stylesheet %}

{% block head-extra %}
  {% include 'selia_managers/media/json_form_media.html' %}
{% endblock %}

{% block toolbar-items%}
<li>
  <div class="container-fluid">
    <ul class="list-unstyled multi-steps">
      {% block toolbar-steps %}
      {% endblock toolbar-steps %}
    </ul>
  </div>
</li>
{% endblock toolbar-items%}

{% block main-content %}
<div class="container">
  <div class="jumbotron my-3" style="background-color: #ffb74d">
    <h1 class="display-6">
      {% block step-title %}
      {% endblock %}
    </h1>
    <p class="lead">
      {% block step-description %}
      {% endblock %}
    </p>
  </div>

  {% block previously-selected %}
  {% endblock previously-selected %}

  {% block form-errors %}
    {% if form.errors %}
    <div class="row">
      {% include 'selia_templates/create/error_list.html' with errors=form.errors %}
    </div>
    {% endif %}
  {% endblock form-errors%}

  <div class="form-container mb-4">
    {% block form %}
    <form action="?{{ request.GET.urlencode }}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% block form-content %}
      {% endblock form-content %}

      <div class="col mt-3">
        {% block pre-submit-text %}
        <div class="row">
          <p class="text-muted w-100 text-center mb-1">
            {% blocktrans %}
            Please check that all provided information is correct before submitting.
            {% endblocktrans %}
          </p>
        </div>
        {% endblock %}
        {% block submit-button %}
        <div class="row justify-content-center">
          <input type="submit" id="formSubmit" class="btn btn-primary" value="{% trans 'Create' %}">
        </div>
        {% endblock %}
      </div>
    </form>
    {% endblock form %}
  </div>
</div>
{% endblock main-content %}
