{% extends 'selia_managers/create/base_select.html' %}
{% load selia_tags %}

{% block list-container %}
<div class="container-fluid w-100 p-0 mb-4 rounded">

  <div class="container-fluid px-1 w-100 bg-dark rounded">
    {% filter_component list.templates.filter_form list.forms %}
  </div>

  <div class="w-100 bg-light p-4 list-group">
    {% for item in list.list.page_obj %}
      <a href="{% url create_url %}?{% remove_form_fields request.GET list.forms %}&{{ prefix }}={{ item.name }}">
        {% include list.templates.list_item with item=item %}
      </a>
      {% empty %}
      <div class="container-fluid bg-light text-center">
        <div class="container p-4 empty-list-message rounded">
          {% block empty-message %}
          {% endblock %}

          {% include 'selia_templates/list/empty_list_message.html' with forms=list.forms %}
        </div>
      </div>
    {% endfor %}

    <div class="container center w-100 p-4">
      {% include 'selia_templates/list/pagination.html' with list=list.list %}
    </div>
  </div>
</div>
{% endblock %}
