{% extends 'selia_templates/list/list_item.html' %}
{% load selia_buttons %}
{% load selia_tags %}
{% load i18n %}

{% block list-item-content %}
<div class="col w-100">
  {% if item.items.last %}
  <div class="row" style="height: 300px">
    <img style="height: 300px; width: 100%; object-fit: contain;" class="mx-auto" src="{% url 'selia_thumbnails:thumbnails' %}?pk={{ item.items.last }}&height=x300&crop=center">
  </div>
  {% endif %}

  <div class="row">
    {% listtitle %}
      {% list_icon item.logo size="7em" %}
    {% endlistimage %}
      {{ item.name }}
    {% endlistheader %}
      <p class="mb-2 d-block text-overflow" style="max-height: 300px;">
        {{ item.description }}
      </p>
      <p>
        <a href="{% url 'selia_managers:collection_detail' item.id %}">
          {% enter_button %}
        </a>
      </p>
    {% endlisttitle %}
  </div>

  <div class="row w-100">
    <div class="col">
      <div class="row">
        {% listattribute %}
          {% trans 'Collection type' %}
        {% attributevalue %}
          {{ item.collection_type }}
        {% endlistattribute %}
      </div>
      <div class="row">
        {% listattribute %}
          {% trans 'Institution' %}
        {% attributevalue %}
          {{ item.institution }}
        {% endlistattribute %}
      </div>
    </div>
    <div class="col">
      <div class="row">

        {% listsummary %}
          {% trans 'Administrators' %}
        {% summarycount %}
          {{ item.administrators.count }}
        {% endlistsummary %}

      </div>
      <div class="row">

        {% listsummary %}
          {% trans 'Users' %}
        {% summarycount %}
          {{ item.users.count }}
        {% endlistsummary %}

      </div>
      <div class="row">
        {% listsummary %}
          {% trans 'Items' %}
        {% summarycount %}
          {{ item.items.count }}
        {% summarybuttons %}
        {% comment %}<a href="{% url 'selia_managers:create_item' %}?collection={{ item.name }}">{% add_button %}</a>
          <a class="ml-2" href="{% url 'selia_managers:collection_items' item.name %}">{% see_button %}</a>
          {% endcomment %}
        {% endlistsummary %}
      </div>
      <div class="row">
        {% listsummary %}
          {% trans 'Last item' %}
        {% summarycount %}
          {{ item.last_item.created_on }}
        {% summarybuttons %}
        {% endlistsummary %}
      </div>
      <div class="row">
        {% listsummary %}
          {% trans 'Annotations' %}
        {% summarycount %}
          {{ item.annotations.count }}
        {% summarybuttons %}
        {% endlistsummary %}
      </div>
      <div class="row">
        {% listsummary %}
          {% trans 'Last annotation' %}
        {% summarycount %}
          {{ item.last_annotation.created_on }}
        {% summarybuttons %}
        {% endlistsummary %}
      </div>
    </div>
  </div>
</div>
{% endblock list-item-content %}
