{% extends 'selia_managers/create/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_filters %}
{% load selia_forms %}

{% block secondary-navbar %}
  {% include 'selia_managers/navbars/home.html' %}
{% endblock %}

{% block toolbar-title %}
  {% trans 'Add user to collection' %}
{% endblock toolbar-title %}

{% block step-title %}
{% trans 'Select a user' %}
{% endblock %}

{% block toolbar-steps %}
<li>
  <a href="{% url 'selia_managers:create_collection'%}?{{ request.GET | remove_fields:'collection'}}">
    {% trans 'Select collection' %}
  </a>
</li>
<li class="is-active">{% trans 'Select user' %}</li>
<li>{% trans 'Add administrator' %}</li>
{% endblock %}

{% comment %}
{% block previously-selected %}
  {% trans 'Selected collection' as label %}
  {% selected_item 'collection' collection label %}
{% endblock previously-selected %}
{% endcomment %}

{% block step-description %}
{% blocktrans %}
Search for a user to add as administrator collection, or
{% endblocktrans %}
<a href="{% url 'invite' %}?next={% url 'selia_managers:create_administrator' %}?{{ request.GET.urlencode }}">{% trans 'invite a user to selia' %}.</a>
{% endblock %}

{% block form-content %}
<div class="container">
  <div class="col">
    <div class="row">
      {% bootstrap_form form.email %}
    </div>
    <div class="row">
      <p>
        {% trans 'Or' %}
        <a href="{% url 'invite' %}?next=next={% url 'selia_managers:create_administrator' %}?{{ request.GET.urlencode }}">
          {% trans 'invite a new user' %}
        </a>
      </p>
    </div>
    {% if form.email.errors %}
    <div class="row p-4">
      <h5 class="w-100 text-center">
        {% blocktrans %}
        No user with the given email was found. Do you wish to
        {% endblocktrans %}
        <a href="{% url 'invite' %}?next={% url 'selia_managers:create_administrator' %}?{{ request.GET.urlencode }}">
          {% trans 'invite a new user' %}?
        </a>
      </h5>
    </div>
    {% endif %}
  </div>
</div>
{% endblock form-content %}
