{% load i18n %}
{% load selia_filters %}
{% load selia_tags %}
{% load selia_tags %}
{% load static %}


{% detailtitle %}

{% enddetailimage %}
{% trans 'Collection detail'%}
{% enddetailheader %}

{% enddetailtitle %}

{% detailsection %}
{% trans 'Collection info' %}
{% enddetailsection %}

<div class="row">
  <div class="col">
    {% detailitem %}
      {% trans 'Name' %}
    {% endhead %}
      {{ object.name }}
    {% enddetailitem %}
  </div>
  <div class="col">
    {% detailitem %}
      {% trans 'Institution' %}
    {% endhead %}
      {{ object.user.institution }}
    {% enddetailitem %}
  </div>
</div>

<div class="row">
  <div class="col">
    {% detailitem %}
      {% trans 'Description' %}
    {% endhead %}
      {{ object.description }}
    {% enddetailitem %}
  </div>
</div>


{% if object.metadata %}
  {% detailsection %}
    {% trans 'Metadata' %}
  {% enddetailsection %}

  <div class="row">
    {% show_json object.metadata %}
  </div>
{% endif %}


{% detailsection %}
  {% trans 'Administrators' %}
{% enddetailsection %}

{% for admin in object.all_admin %}
<div class="row">
  <div class="col">
    {% detailitem %}
      {% trans 'Name' %}
    {% endhead %}
      {{ admin.first_name }} {{ admin.last_name }}
    {% enddetailitem %}
  </div>

  <div class="col">
    {% detailitem %}
      {% trans 'Email' %}
    {% endhead %}
      {{ admin.email }}
    {% enddetailitem %}
  </div>
</div>
{% empty %}
<div class="row">
  <div class="col">
    {% detailitem %}
      {% trans 'No administrators in this collection' %}
    {% endhead %}
    {% enddetailitem %}
  </div>
</div>
{% endfor %}


{% detailsection %}
  {% trans 'Statistics' %}
{% enddetailsection %}

<div class="row">
  <div class="col">
    {% detailitem %}
      {% trans 'Users' %}
    {% endhead %}
      {{ object.users.count }}
    {% enddetailitem %}
  </div>
  <div class="col">
    {% detailitem %}
      {% trans 'Most active collection user' %}
    {% endhead %}
      
    {% enddetailitem %}
  </div>
</div>

<div class="row">
  <div class="col">
    {% detailitem %}
      {% trans 'Items' %}
    {% endhead %}
      {{ statistics.items }}
    {% enddetailitem %}
  </div>
  <div class="col">
    {% detailitem %}
      {% trans 'Last item' %}
    {% endhead %}
      {{ statistics.last_item.created_on }}
    {% enddetailitem %}
  </div>
</div>

<div class="row">
  <div class="col">
    {% detailitem %}
      {% trans 'Annotations' %}
    {% endhead %}
      {{ statistics.annotations }}
    {% enddetailitem %}
  </div>
  <div class="col">
    {% detailitem %}
      {% trans 'Last annotation' %}
    {% endhead %}
      {{ statistics.last_annotation.created_on }}
    {% enddetailitem %}
  </div>
</div>
