{% load i18n %}
{% load selia_buttons %}


<div class="row">


  <div class="col">
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Items added to collection' %}</strong>
        <div class="row">
          <div class="col">
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Annotations added to collection' %}</strong>
        <div class="row">
          <div class="col">
            {{ summary_info.collection_devices }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
