{% extends 'selia_managers/detail/base.html' %}

{% load i18n %}
{% load selia_tags %}
{% load selia_buttons %}

{% block secondary-navbar %}
  {% include 'selia_managers/navbars/collection.html' %}
{% endblock secondary-navbar %}

{% block toolbar-title %}{% trans 'Collection' %}: {{ object }}{% endblock %}

{% block toolbar-items %}
<li class="navbar-item ">
  <a class="btn btn-link" href="{% url 'email_user' %}?collection_users={{ object.id }}">
    {% email_button %}{% trans 'Email all users' %}
  </a>
</li>
<li class="navbar-item ">
  <a class="btn btn-link" href="{% url 'email_user' %}?collection_administrators={{ object.id }}">
    {% email_button %}{% trans 'Email all admins' %}
  </a>
</li>
<li class="navbar-item ">
  <a class="btn btn-link" href="{% url 'selia_managers:create_administrator' %}?collection={{ object.id }}">
    {% add_button %}{% trans 'Admin' %}
  </a>
</li>
<li class="nav-item">
  {% help_button %}
</li>
{% endblock toolbar-items %}

{% block head-extra %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block main-content %}
<div class="container-fluid w-100">
  <div class="row bg-light my-4">
    <div class="container">
      {% detail_component detail_template=detail_template object=object %}
    </div>
  </div>
  <div class="row bg-light my-4">
    <div class="container">
      {% summary_component summary_template=summary_template object=object %}
    </div>
  </div>
</div>
{% endblock main-content %}
