{% extends 'selia_managers/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block toolbar-items %}
<li class="navbar-item ">
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#helpModal"><i class="fas fa-question"></i> {% trans "Help" %}</button>
</li>
{% endblock toolbar-items %}

{% block main-content %}
  <div class="mx-auto container-fluid" style="width: 96%; overflow: auto; background-color: white; display: block; position: relative; margin: 1.2rem;">
    <div class="container-">
      <div class="row">
        <div class="col-7 m-4" style="height: 300px; border-radius: 5px;">
          <div class="card mx-auto" style="width: 94%; height: 100%; border: solid 1px #84D479;">
            <div class="card-img-top" style="background-color: #84D479; padding: 5px;"><h6>{% trans "My user" %}</h6></div>
            <div class="card-body">
              Nombre de usuario: {{user}}
            </div>
          </div>
        </div>
        <div class="col m-4" style="height: 300px; border-radius: 5px;">
          <div class="card mx-auto" style="width: 94%; height: 100%; border: solid 1px var(--teal);">
            <div class="card-img-top" style="background-color: var(--teal); padding: 5px;"><h6>{% trans "Actions" %}</h6></div>
            <div class="card-body">
                <br/>
                <button type="button" class="btn btn-primary btn-lg btn-block" style="min-height: 90px;">{% trans "Create collection" %}</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" style="min-height: 90px;">{% trans "Asociate administrator to collection" %}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <div class="card mx-auto" style="width: 94%;">
            <div class="card-img-top" style="background-color: #eeeeee; padding: 10px;">Tipos de colecciones que administro</div>
            <div class="card-body">
              <p class="card-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>

              <table class="table table-bordered">
                  <thead style="background-color: #eeeeee;">
                    <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Tipo de colección</th>
                      <th scope="col">Nº de colecciones</th>
                      <th scope="col">Nº de usuarios</th>
                      <th scope="col">Descripción</th>
                      <th cope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ct in collection_type%}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ct.name}}</td>
                      <td>1</td>
                      <td>{{ct.users.count}}</td>
                      <td>{{ct.description}}</td>
                      <td class="text-center"><a href="#" class="btn btn-link">{% trans "See" %}</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main-content %}