{% extends 'selia_managers/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% load selia_filters %}
{% load selia_tags %}
{% load selia_tags %}
{% load static %}

{% block toolbar-items %}
<li class="navbar-item ">
  <a class="btn btn-link" href="{% url 'selia_managers:create_collection' %}"><i class="fas fa-plus"></i> {% trans 'Add collection' %}</a>
  <a class="btn btn-link" href="{% url 'selia_managers:create_administrator' %}"><i class="fas fa-user-plus"></i> {% trans 'Asociate administrator' %}</a>
  <a class="btn btn-link" href="{% url 'selia_managers:create_email' %}"><i class="fas fa-paper-plane"></i> {% trans 'Send email' %}</a>
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#helpModal"><i class="fas fa-question"></i> {% trans "Help" %}</button>
</li>
{% endblock toolbar-items %}

{% block main-content %}
  <div class="mx-auto container-fluid" style="width: 96%; overflow: auto; background-color: white; display: block; position: relative; margin: 1.2rem;">
    <div class="container-">


      <div class="row">
        
        <div class="col-12 m-4" style="height: 380px; border-radius: 5px;">
          <div class="card- mx-auto-" style="width: 90%; ">
            {% detailtitle %}
              {% enddetailimage %}
              {% trans 'My user'%}
            {% enddetailheader %}
            {% enddetailtitle %}

            {% detailsection %}
              {% trans 'Information' %}
            {% enddetailsection %}

            <div class="row">
              <div class="col">
                {% detailitem %}
                  {% trans 'Username' %}
                {% endhead %}
                  {{user.email}}
                {% enddetailitem %}
              </div>
              <div class="col">
                {% detailitem %}
                  {% trans 'Email' %}
                {% endhead %}
                  {{user.email}}
                {% enddetailitem %}
              </div>
            </div>

            <div class="row">
              <div class="col">
                {% detailitem %}
                  {% trans 'Type collections managed' %}
                {% endhead %}
                {{collection_type.count}}
                {% enddetailitem %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 m-2">
          <div class="card mx-auto" style="width: 94%;">
            <div class="card-img-top" style="background-color: #eeeeee; padding: 10px;">Tipos de colecciones que administro</div>
            <div class="card-body">
              <p class="card-text">
                Un <i>Tipo de colección</i> es un agrupamiento de colecciones que describe la configuración y el
                comportamiento de las colecciones bajo su manto. 
                El <i>Tipo de colección</i> especifica que tipo de sitios, dispositivos, eventos de muestreo, archivos,
                licencias y roles pueden ser usadas en colecciones de dicho tipo.
              </p>

              <table class="table table-bordered">
                  <thead style="background-color: #eeeeee;">
                    <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Tipo de colección</th>
                      <th scope="col">Nº de colecciones</th>
                      <th scope="col">Nº de usuarios</th>
                      <th scope="col">Nº de items</th>
                      <th cope="col">Último item subido</th>
                      <th scope="col">Nº de anotaciones</th>
                      <th cope="col">Última anotación</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ct in collection_type%}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ct.name}}</td>
                      <td>{{ct.collections.count}}</td>
                      <td>{{ct.users.count}}</td>
                      <td>{{ct.items.count}}</td>
                      <td>{{ct.last_item.created_on}}</td>
                      <td>{{ct.annotations.count}}</td>
                      <td>{{ct.last_annotation.created_on}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock main-content %}