{% extends 'selia_templates/secondary_navbar.html' %}
{% load i18n %}

{% block navbar-brand %}
<a class="navbar-brand" id="dropdownMenuButton" href={% url 'selia_managers:management' %}>{% trans 'Managers' %}</a>
{% endblock navbar-brand %}

{% block navbar-items %}

{% url 'selia_managers:management' as management_url %}
<li class="nav-item">
  {% if management_url == request.path|urlencode %}
  <a class="nav-link active" href={{ management_url }}>
    {% else %}
    <a class="nav-link" href={{ management_url }}>
      {% endif %}
      <i class="fas fa-home"></i>
      {% trans 'Home' %}
    </a>
</li>

{% url 'selia_managers:collections' as collections_url %}
<li class="nav-item">
  {% if collections_url == request.path|urlencode %}
  <a class="nav-link active" href={{ collections_url }}>
    {% else %}
    <a class="nav-link" href={{ collections_url }}>
      {% endif %}
      <i class="fas fa-archive"></i>
      {% trans 'My Collections' %}
    </a>
</li>

{% endblock navbar-items %}

