{% load i18n %}
{% load selia_forms %}
{% load selia_tags %}


<div class="row w-100 p-2">
  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseName">
        {% trans 'Name' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
          {% trans 'Contains' as label %}
          {{ filter.form.name__icontains | selia_filter:label }}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="dropdown">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseEndedOn">
          {% trans 'Date of creation' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="container p-3">
          {% trans 'From' as label %}
          {{ filter.form.created_on__gt | selia_filter:label }}

          {% trans 'To' as label %}
          {{ filter.form.created_on__lt | selia_filter:label }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
