{% extends 'selia_templates/navbars/navbar_base.html' %}
{% load selia_tags %}
{% load i18n %}

{% block class-name %}collections{% endblock %}

{% block navbar-brand %}
{% if user.is_authenticated %}
<a class="navbar-brand text-truncate" href="{% url 'selia_managers:collections' %}">{% trans 'Collections' %}</a>
{% endif %}
{% endblock %}

{% block navbar-items %}
{% if user.is_authenticated %}
{% url 'selia_managers:collections' as collection_url %}
{% tab collection_url %}
  <i class="fas fa-archive"></i>
  {% trans 'My Collections' %}
{% endtab %}
{% endif %}

{% endblock %}
