{% extends 'selia_templates/navbars/navbar_base.html' %}
{% load i18n %}
{% load selia_tags %}

{% block class-name %}collection{% endblock %}

{% block navbar-brand %}
  <a class="navbar-brand text-truncate" href="{% url 'selia_managers:collection_detail' collection.name %}">
    {% trans 'Collection' %}: {{ collection }}
  </a>
{% endblock %}

{% block navbar-items %}

{% url 'selia_managers:collection_detail' collection.name as detail_url %}
{% tab detail_url %}
  <i class="fas fa-info"></i>
  {% trans 'About' %}
{% endtab %}



{% if permissions.list_collection_users %}
{% url 'selia_managers:collection_users' collection.name as users_url %}
{% tab users_url %}
  <i class="fas fa-user"></i>
  {% trans 'Users' %}
{% endtab %}
{% endif %}

{% endblock %}
