{% extends 'selia_managers/base.html' %}
{% load i18n %}
{% load static %}
{% load selia_tags %}

{% block main-content %}
  <div class="container-fluid p-0">
    {% block filter-component %}
      {% filter_component templates.filter_form forms %}
    {% endblock filter-component %}
  </div>

  {% block list-component %}
  <div class="container bg-light p-5 mt-2 list-group">
    <div class="container w-100 p-4">
      {% include 'selia_templates/list/pagination.html' with list=object_list %}
    </div>

    {% for item in object_list.object_list %}
      {% include templates.list_item with item=item %}
    {% empty %}
    <div class="container text-center mt-4 p-4 empty-list-message rounded">
      {% block empty-message %}
        <h4>{{ empty_message }}</h4>
      {% endblock empty-message %}

      {% include 'selia_templates/list/empty_list_message.html' %}
    </div>
    {% endfor %}

    <div class="container w-100 p-4">
      {% include 'selia_templates/list/pagination.html' with list=object_list %}
    </div>
  </div>
  {% endblock list-component %}
{% endblock main-content %}

{% block modals %}
  {{ block.super }}
  {% help_component help_template=templates.help %}
{% endblock modals %}

{% block scripts-extra %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'selia_managers/js/list.js' %}"></script>
{% endblock scripts-extra %}
